<div *ngIf="user">
  <div>
    <!--begin::Header-->
    <div
      class="d-flex align-items-center justify-content-between flex-wrap p-8 rounded-top drop_conteneur"
    >

    <div class="d-flex align-items-center mr-2">
      <!--begin::Symbol-->
      <div class="symbol bg-white-o-15 mr-3">
        <span
          class="symbol-label initial-section font-weight-bold font-size-h4"
          >{{ user.firstName| firstLetter | uppercase}}</span
        >
      </div>
      <!--end::Symbol-->

      <!--begin::Text-->
      <div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <!--end::Text-->
    </div>
      <span class="label label-success label-lg font-weight-bold label-inline email-section mt-5"
        >
        {{ user.email}} </span
      >
    </div>
    <!--end::Header-->
  </div>

  <!--begin::Nav-->
  <div class="navi navi-spacer-x-0 pt-5">
    <!--begin::Footer-->
    <div class="navi-separator mt-3"></div>
    <div class="navi-footer py-5">
      <a
        class="btn btn-light-primary font-weight-bold cursor-pointer"
        (click)="logout()"
        >Se decconnecter</a
      >
      <a class="btn btn-light font-weight-bold cursor-pointer" (click)="profil()">Profile Perso</a>
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Nav-->
</div>
