<nav class="navbar nav-pills bg-white navbar navbar-light mb-3 d-flex justify-content-center">
    <div class="row d-flex active justify-content-center w-75 py-2 py-lg-4">
        <div routerLink="accueil" routerLinkActive="actifStyle" *ngIf="role=='ROLE_METREUR'" class="nav-item col-sm col-md-2 mr-2 navItem active">
            <div class="row">
                <div class="col-2"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </div>
                <div class="col-10 mt-2">Accueil</div>
            </div>
        </div>
        <div routerLink="planning" routerLinkActive="actifStyle" *ngIf="kc.hasRealmRole('ROLE_METREUR')" class="nav-item col-sm  col-md-2 col-lg-2 mr-2 navItem">
            <div class="row">
                <div class="col-2"><mat-icon>date_range</mat-icon></div>
                <div class="col-10 mt-2">Planning</div>
            </div>
        </div>
        <div routerLink="listeToConsulte" routerLinkActive="actifStyle" *ngIf="role=='ROLE_METREUR' || role=='ROLE_BACK_OFFICE' || role=='ROLE_RESPONSABLE_TECHNIQUE'" class="nav-item col-sm col-md-2  mr-2 navItem">
            <div class="row">
                <div class="col-2"><mat-icon>list</mat-icon></div>
                <div class="col-10 mt-1">Liste Demandes</div>
            </div>
        </div>
        <div routerLink="liste-metreurs" routerLinkActive="actifStyle"  *ngIf="role=='ROLE_RESPONSABLE_TECHNIQUE'" class="nav-item col-sm col-md-2 mr-2 navItem active">
            <div class="row">
                <div class="col-2"><mat-icon>list</mat-icon></div>
                <div class="col-10 mt-1">Liste Métreurs</div>
            </div>
        </div>
        <div routerLink="reaffectation" routerLinkActive="actifStyle"  *ngIf="role=='ROLE_RESPONSABLE_TECHNIQUE'" class="nav-item col-sm col-md-2 mr-2 navItem active">
            <div class="row">
                <div class="col-2"><mat-icon>date_range</mat-icon></div>
                <div class="col-10 mt-1">Réaffectation</div>
            </div>
        </div>
        <!-- <div routerLink="formulaire/1" routerLinkActive="actifStyle"  class="nav-item col-sm col-md-2  mr-2 navItem">
        <div routerLink="formulaire/1" routerLinkActive="actifStyle"  class="nav-item col-sm col-md-2  mr-2 navItem" [ngClass]="{'navItem': kc.hasRealmRole('ROLE_BACK_OFFICE')}">
            <div class="row">
                <div class="col-2"><mat-icon>input</mat-icon></div>
                <div class="col-10 mt-2">Formulaire</div>
            </div>
        </div> -->
        <!-- <div routerLink="listeValidated" routerLinkActive="actifStyle" class="nav-item col-sm col-md-2 col-lg-2 mr-2">
            <div class="row">
                <div class="col-2"><mat-icon>playlist_add_check</mat-icon></div>
                <div class="col-10 mt-1">Liste Demandes Validés</div>
            </div>
        </div> -->
    </div>
</nav>



