<header class="header navbar">
    <div (click)="goHome()" class="header-logo">
        <img src="../../../assets/media/icons/logoseneau.svg" alt="">
        <span class="h4 ml-2 mb-4 text-white">SENEAU</span>
    </div>
    <div>
      <ng-container >
        <!--begin::User-->
        <ng-container *ngIf="user" >
          <div class="dropdown" ngbDropdown placement="bottom-left">
            <div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px" ngbDropdownToggle>
              <div class="btn btn-icon w-auto btn-clean font-size-h4 d-flex align-items-center btn-lg px-2">
                 <span class="text-muted font-weight-bold font-size-base  d-md-inline mr-1">&nbsp;&nbsp;&nbsp; [ {{ roleUser }} ]&nbsp;
                 </span>
                 <span
                  class="text-dark-50 font-weight-bolder d-md-inline mr-3">{{ user.email}}
                  &nbsp; &nbsp; &nbsp; <img src="../../../assets/media/icons/Icons.svg" alt="">
                 </span>
              </div>
            </div>
            <!--end::Toggle-->
            <!--begin::Dropdown-->
            <div ngbDropdownMenu
              class="dropdown-menu dropdown-menu-anim-up dropdown-menu-lg">
              <app-user-dropdown-inner *ngIf="user"></app-user-dropdown-inner>
            </div>
          </div>
          <!--end::Dropdown-->
        </ng-container>
        <!--end::User-->
      </ng-container>
    </div>
</header>
