
<app-metreur *ngIf="role=='ROLE_METREUR'"></app-metreur>
<app-backoffice *ngIf="role=='ROLE_BACK_OFFICE'"></app-backoffice>
<app-liste-bi-rt  *ngIf="role=='ROLE_RESPONSABLE_TECHNIQUE'"></app-liste-bi-rt>
