@import '~@fullcalendar/common/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.principal-container{
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}