<app-header></app-header>
<app-navbar class="mt-5"></app-navbar>
<app-splash-screen></app-splash-screen>
<!-- <app-accueil></app-accueil> -->
<div class="container-fluid principal-container ">
    <div class="row col-10  offset-1">
      <div class="col mt-6">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
</div>
