<div class="row d-flex justify-content-center h-100 w-100 bg-white">
  <mat-accordion
    class="example-headers-align"
    *ngIf="
      bi &&
      (bi.statut == null ||
        bi.statut == 'en cours' ||
        bi.statut == 'envoyé' ||
        bi.statut == 'validé')
    "
  >
    <!-- debut : form -->
    <button
      *ngIf="!isMettreCanceled"
      type="button"
      class="btn btn-light-primary px-6 font-weight-bold mb-3"
      routerLink="/listeToConsulte"
    >
      Retour à la liste
    </button>
    <!-- btn-shadow -->
    <button
      *ngIf="
        !isMettreCanceled && userRole == 'METREUR' && bi.statut == 'en cours'
      "
      type="button"
      class="btn btn-light-danger px-6 font-weight-bold float-right mb-3"
      (click)="cancelMetre()"
    >
      Annuler le métré
    </button>
    <form [formGroup]="interventionForm" (submit)="onSubmitForm()">
      <!-- debut : client -->
      <div *ngIf="!isMettreCanceled">
        <mat-expansion-panel
          [expanded]="step === 0"
          (opened)="setStep(0)"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              'background-color':
                panelOpenState == false ? '#99BC47' : '#203A73'
            }"
          >
            <mat-panel-title> Client </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-body">
            <div class="row">
              <div class="col-sm col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Prenom Client</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="prenomClient"
                  />
                </div>
                <div class="form-group">
                  <label>Nom Client</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nomClient"
                  />
                </div>
                <div class="form-group">
                  <label>Référence Client</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="referenceClient"
                  />
                </div>
                <div class="form-group">
                  <label>Adresse Géographique 1</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="adresse1"
                  />
                </div>
                <div class="form-group">
                  <label>Adresse Géographique 2</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="adresse2"
                  />
                </div>
                <div class="form-group">
                  <label>Complément Adresse</label>
                  <input
                    type="text"
                    class="form-control"
                    value="value"
                    formControlName="complementAdresse"
                  />
                </div>
                <div class="form-group">
                  <label>Type d'espace</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="typeEspace"
                  />
                </div>
                <div class="form-group">
                  <label>UO du secteur</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="uoSecteur"
                  />
                </div>
                <div class="form-group">
                  <label>Résidence</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="residence"
                  />
                </div>
              </div>
              <!-- deuxieme colonne -->
              <div class="col-sm col-md-6 col-lg-6">
                <div class="form-group">
                  <label>Date début opération</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="dateDebut"
                  />
                </div>
                <div class="form-group">
                  <label>Date fin opération </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="dateFin"
                  />
                </div>
                <div class="form-group">
                  <label>Prénom Agent</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="nomAgent"
                  />
                </div>
                <div class="form-group">
                  <label>Nom Agent</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="prenomAgent"
                  />
                </div>
                <div class="form-group">
                  <label>Présence du client obligatoire</label>
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4 radio-disabled">
                      <input
                        type="radio"
                        name="presenceClient"
                        formControlName="presenceClient"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary radio-disabled">
                      <input
                        type="radio"
                        name="presenceClient"
                        formControlName="presenceClient"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Type de demande</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="typePrestation"
                  />
                </div>
                <div class="form-group">
                  <label>Référence BI</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="referenceBi"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleTextarea">Commentaires</label>
                  <textarea
                    class="form-control"
                    readonly
                    rows="3"
                    formControlName="commentaires"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <mat-action-row>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="nextStep()"
            >
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <!-- fin  client -->
        <!-- debut: généralités du métré -->
        <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          (opened)="panelOpenState2 = true"
          (closed)="panelOpenState2 = false"
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              'background-color':
                panelOpenState2 == false ? '#99BC47' : '#203A73'
            }"
          >
            <mat-panel-title> Généralités du métré </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- debut form -->
          <div class="card-body row">
            <div class="col-11">
              <!-- client_présent -->
              <div class="form-group row">
                <label class="col-sm col-md-3 col-lg-3 col-form-label"
                  >Client présent lors du métré</label
                >
                <div class="col-sm col-md-9 col-lg-9 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        formControlName="presenceClientByMetreur"
                        type="radio"
                        name="presenceClientByMetreur"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        formControlName="presenceClientByMetreur"
                        type="radio"
                        name="presenceClientByMetreur"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <!-- client_présent -->
              <div class="form-group">
                <label for="exampleTextarea">Engins à prévoir</label>
                <textarea
                  class="form-control"
                  formControlName="enginsPrevoir"
                  rows="3"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="exampleTextarea"
                  >Besoin de pression/débit en particulier</label
                >
                <textarea
                  class="form-control"
                  formControlName="besoinDebitPression"
                  rows="3"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="exampleTextarea">Autres Commentaires</label>
                <textarea
                  class="form-control"
                  rows="3"
                  formControlName="autreCommentaires"
                ></textarea>
              </div>
            </div>
          </div>
          <mat-action-row>
            <button
              type="button"
              class="btn btn-outline-primary mr-2"
              (click)="prevStep()"
            >
              Précédent
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="nextStep()"
            >
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <!-- fin: généralités du métré -->
        <!-- debut_données_du_branchement -->
        <mat-expansion-panel
          [expanded]="step === 2"
          (opened)="setStep(2)"
          (opened)="panelOpenState3 = true"
          (closed)="panelOpenState3 = false"
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              'background-color':
                panelOpenState3 == false ? '#99BC47' : '#203A73'
            }"
          >
            <mat-panel-title>Données du branchement</mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="card-body w-100 row">
            <div
              class="col-12 alert alert-custom alert-default mb-5"
              role="alert"
            >
              <!-- alert icon -->
              <div class="alert-icon">
                <i class="flaticon-warning text-primary"></i>
              </div>
              <!-- alert icon -->
              <div class="alert-text text-center">
                Précision sur l’emplacement du regard (à préciser avec le
                client)
              </div>
            </div>
            <div class="col-sm col-md-6 col-lg-6">
              <!-- debut form_group -->
              <div class="form-group row">
                <label class="col-6 col-form-label"
                  >Nécessite une extension</label
                >
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        type="radio"
                        formControlName="extension"
                        name="extension"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        type="radio"
                        formControlName="extension"
                        name="extension"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-6 col-form-label"
                  >Térassement effectué par le client</label
                >
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        type="radio"
                        name="terassementClient"
                        formControlName="terassementClient"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        type="radio"
                        name="terassementClient"
                        formControlName="terassementClient"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-6 col-form-label">Protection incendie</label>
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        type="radio"
                        name="protectionIncendie"
                        formControlName="protectionIncendie"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        type="radio"
                        name="protectionIncendie"
                        formControlName="protectionIncendie"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-6 col-form-label"
                  >Séparer le raccordement</label
                >
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        type="radio"
                        name="separationRaccordement"
                        formControlName="separationRaccordement"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        type="radio"
                        name="separationRaccordement"
                        formControlName="separationRaccordement"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-6 col-form-label"
                  >Droit de suite à prévoir</label
                >
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        type="radio"
                        name="droitSuite"
                        formControlName="droitSuite"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        type="radio"
                        name="droitSuite"
                        formControlName="droitSuite"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-6 col-form-label"
                  >Climatisation à refroidissement par eau</label
                >
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="radio radio-primary mr-4">
                      <input
                        type="radio"
                        formControlName="climatisationRefroidissementEau"
                        name="climatisationRefroidissementEau"
                        value="true"
                      />
                      <span></span>
                      Oui
                    </label>
                    <label class="radio radio-primary">
                      <input
                        type="radio"
                        formControlName="climatisationRefroidissementEau"
                        name="climatisationRefroidissementEau"
                        value="false"
                      />
                      <span></span>
                      Non
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="diametreBranchement" class="col-6 col-form-label"
                  >Diamètre du branchement à poser (mm)</label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="diametreBranchement"
                    id="diametreBranchement"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12"
                  >Longueur totale du branchement mesurée depuis :
                </label>
                <label
                  for="longueurBranchementCanalisation"
                  class="col-6 col-form-label primaire"
                  >l'axe de la canalisation (ml)</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="longueurBranchementCanalisation"
                    id="longueurBranchementCanalisation"
                  />
                </div>
                <label
                  for="longueurBranchementChausse"
                  class="col-6 col-form-label primaire"
                  >l'axe de la chaussée (ml)</label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="longueurBranchementChausse"
                    id="longueurBranchementChausse"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Canalisation existante : </label>
                <label
                  for="diametreCanalisationExistante"
                  class="col-6 col-form-label primaire"
                  >diamètre (mm)</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="diametreCanalisationExistante"
                    id="diametreCanalisationExistante"
                  />
                </div>
                <label
                  for="natureCanalisationExistante"
                  class="col-6 col-form-label primaire"
                  >nature</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="natureCanalisationExistante"
                    id="natureCanalisationExistante"
                  />
                </div>
                <label
                  for="profondeurCanalisationExistante"
                  class="col-6 col-form-label primaire"
                  >profondeur (ml)</label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="profondeurCanalisationExistante"
                    id="profondeurCanalisationExistante"
                  />
                </div>
              </div>
            </div>
            <!-- deuxième colonne -->
            <div class="col-sm col-md-6 col-lg-6">
              <!-- debut form_group -->
              <div class="form-group row">
                <label for="codeService" class="col-6 col-form-label"
                  >Code service</label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    type="text"
                    id="codeService"
                    formControlName="codeService"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="codetrocon" class="col-6 col-form-label"
                  >Code tronçon</label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    type="text"
                    id="codetrocon"
                    formControlName="codetrocon"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Adresse Technique : </label>
                <label for="codeQuartier" class="col-6 col-form-label primaire"
                  >Code quartier</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="text"
                    id="codeQuartier"
                    formControlName="codeQuartier"
                  />
                </div>
                <label for="codeTournee" class="col-6 col-form-label primaire"
                  >Code Tournée</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="text"
                    id="codeTournee"
                    formControlName="codeTournee"
                  />
                </div>
                <label for="rang" class="col-6 col-form-label primaire"
                  >Rang</label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    type="number"
                    id="rang"
                    formControlName="rang"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Alimentation domestique: </label>
                <label
                  for="nombrePointEau"
                  class="col-6 col-form-label primaire"
                  >Nombre de points d'eaux</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="number"
                    value=""
                    id="nombrePointEau"
                    formControlName="nombrePointEau"
                  />
                </div>
                <label
                  for="debitInstantanee"
                  class="col-6 col-form-label primaire"
                  >Débit instantané</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="number"
                    value=""
                    id="debitInstantanee"
                    formControlName="debitInstantanee"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-12">Alimentation industriel: </label>
                <label
                  for="debitJournalier"
                  class="col-6 col-form-label primaire"
                  >Débit journalier</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="number"
                    id="debitJournalier"
                    formControlName="debitJournalier"
                  />
                </div>
                <label for="debitHoraire" class="col-6 col-form-label primaire"
                  >Débit horaire</label
                >
                <div class="col-6 mb-2">
                  <input
                    class="form-control"
                    type="number"
                    formControlName="debitHoraire"
                    id="debitHoraire"
                  />
                </div>
              </div>
            </div>
            <!-- fin form_group -->
            <!-- </form> -->
          </div>
          <mat-action-row>
            <button
              type="button"
              class="btn btn-outline-primary mr-2"
              (click)="prevStep()"
            >
              Précédent
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="nextStep()"
            >
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <!--debut: consignes de sécurité -->
        <mat-expansion-panel
          [expanded]="step === 3"
          (opened)="setStep(3)"
          (opened)="panelOpenState4 = true"
          (closed)="panelOpenState4 = false"
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              'background-color':
                panelOpenState4 == false ? '#99BC47' : '#203A73'
            }"
          >
            <mat-panel-title>Consignes de sécurité à revoir</mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- debut form -->
          <div class="">
            <div class="card-body">
              <div class="row">
                <!-- debut: premiere colonne -->
                <div class="col-sm col-md-6 col-lg-6">
                  <div class="form-group row">
                    <label class="col-6 col-form-label">Feux tricolores</label>
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="feuxTricolor"
                            value="true"
                            formControlName="feuxTricolor"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="feuxTricolor"
                            value="false"
                            formControlName="feuxTricolor"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      >Circulation alternée</label
                    >
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="circulationAlterne"
                            formControlName="circulationAlterne"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="circulationAlterne"
                            formControlName="circulationAlterne"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      >Fonçage sous chausée</label
                    >
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="foncageChausse"
                            formControlName="foncageChausse"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="foncageChausse"
                            formControlName="foncageChausse"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      >Croisement d'ouvrage</label
                    >
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="croisementOuvrage"
                            formControlName="croisementOuvrage"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="croisementOuvrage"
                            formControlName="croisementOuvrage"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      >Blindage de tranchée</label
                    >
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="blindageTranche"
                            formControlName="blindageTranche"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="blindageTranche"
                            formControlName="blindageTranche"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fin: premiere colonne -->
                <!-- debut: deuxième colonne -->
                <div class="col-sm col-md-6 col-lg-6">
                  <div class="form-group row">
                    <label class="col-6 col-form-label">Troittoir</label>
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="trotoir"
                            formControlName="trotoir"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="trotoir"
                            formControlName="trotoir"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label">Accotement</label>
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="accotement"
                            formControlName="accotement"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="accotement"
                            formControlName="accotement"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      >Léger empiètement sur chaussée sans réduction du nombre
                      de v
                    </label>
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="empietementSansReduction"
                            formControlName="empietementSansReduction"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="empietementSansReduction"
                            formControlName="empietementSansReduction"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-6 col-form-label"
                      >Empiètement sur chaussée avec réduction du nombre de
                      voies</label
                    >
                    <div class="col-6 col-form-label">
                      <div class="checkbox-inline">
                        <label class="radio radio-primary mr-4">
                          <input
                            type="radio"
                            name="empietementAvecReduction"
                            formControlName="empietementAvecReduction"
                            value="true"
                          />
                          <span></span>
                          Oui
                        </label>
                        <label class="radio radio-primary">
                          <input
                            type="radio"
                            name="empietementAvecReduction"
                            formControlName="empietementAvecReduction"
                            value="false"
                          />
                          <span></span>
                          Non
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label for="exampleTextarea">Autres consignes</label>
                  <textarea
                    class="form-control"
                    formControlName="autresConsignes"
                    rows="3"
                  ></textarea>
                </div>
                <!-- fin: deuxième colonne -->
              </div>
            </div>
          </div>
          <mat-action-row>
            <button
              type="button"
              class="btn btn-outline-primary mr-2"
              (click)="prevStep()"
            >
              Précédent
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="nextStep()"
            >
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <!--fin: consignes de sécurité -->
        <!-- debut : plan du métré -->
        <mat-expansion-panel
          [expanded]="step === 4"
          (opened)="setStep(4)"
          (opened)="panelOpenState5 = true"
          (closed)="panelOpenState5 = false"
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              'background-color':
                panelOpenState5 == false ? '#99BC47' : '#203A73'
            }"
          >
            <mat-panel-title>Plan du métré</mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- debut dropzone -->
          <div class="d-flex justify-content-center w-100">
            <div
              class="
                col-lg-4 col-md-9 col-sm-12
                mt-4
                d-flex
                justify-content-center
                w-100
              "
            >
              <a
                href="https://seneau.maps.arcgis.com/home/webmap/viewer.html?layers=d74057f35f164d66bd68421f796678bb"
                target="_blank"
                type="button"
                class="btn btn-pm"
                >Plan de métré
              </a>
            </div>
            <!-- image priview -->
          </div>
          <!-- fin dropzone -->
          <mat-action-row>
            <button
              type="button"
              class="btn btn-outline-primary mr-2"
              (click)="prevStep()"
            >
              Précédent
            </button>
            <button
              type="button"
              (click)="nextStep()"
              class="btn btn-outline-success"
            >
              Suivant
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <!-- fin : plan du métré -->
        <!-- <div class="col-sm col-md-6 col-lg-6"> -->
        <!-- debut: description quantitative -->
        <mat-expansion-panel
          [expanded]="step === 5"
          (opened)="setStep(5)"
          (opened)="panelOpenState6 = true"
          (closed)="panelOpenState6 = false"
        >
          <mat-expansion-panel-header
            [ngStyle]="{
              'background-color':
                panelOpenState6 == false ? '#99BC47' : '#203A73'
            }"
          >
            <mat-panel-title>Description Quantitative</mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button
              *ngIf="userRole == 'METREUR' && bi.statut == 'en cours'"
              type="submit"
              class="btn btn-outline-success"
            >
              Valider
            </button>
            <button
              *ngIf="userRole == 'BACK_OFFICE' && bi.statut == 'envoyé'"
              type="button"
              class="btn btn-outline-success"
              (click)="validerMetre()"
            >
              Valider
            </button>
          </mat-action-row>
          <div
            *ngIf="
              userRole == 'METREUR' && bi.statut == 'en cours';
              else brxChoisisSection
            "
          >
            <div class="card-body row w-100" #screen>
              <div class="form-group col-sm col-md-3 col-lg-3">
                <label for="exampleSelect1">Catégorie</label>
                <select
                  class="form-control"
                  id="exampleSelect1"
                  formControlName="bordereau"
                  (change)="getChapitresOfBordereau($event.target.value)"
                >
                  <option
                    *ngFor="let categorie of categories"
                    value="{{ categorie }}"
                  >
                    {{ categorie }}
                  </option>
                </select>
              </div>
              <div
                class="form-group col-sm col-md-3 col-lg-3"
                *ngIf="chapitres.length > 0"
              >
                <label for="exampleSelect1">Chapitres</label>
                <select
                  class="form-control"
                  id="exampleSelect1"
                  (change)="getLibellesOfChapitre($event.target.value)"
                >
                  <option value=""></option>
                  <option
                    *ngFor="let chapitre of chapitres"
                    value="{{ chapitre }}"
                  >
                    {{ chapitre }}
                  </option>
                </select>
              </div>
              <div
                class="form-group col-sm col-md-3 col-lg-3"
                *ngIf="libelles.length > 0"
              >
                <label for="exampleSelect1">Libelles</label>
                <select
                  class="form-control"
                  data-size="4"
                  id="exampleSelect1"
                  (change)="getReferenceOfLibelle($event.target.value)"
                >
                  <option value=""></option>
                  <option
                    *ngFor="let libelle of libelles"
                    value="{{ libelle }}"
                  >
                    {{ libelle }}
                  </option>
                </select>
              </div>
              <div
                class="form-group col-sm col-md-2 col-lg-2"
                *ngIf="showQtInput"
              >
                <label for="example-number-input">Quantité</label>
                <input
                  class="form-control"
                  type="number"
                  id="example-number-input"
                  (keyup)="getQt($event.target.value)"
                />
              </div>
              <div
                class="form-group col-sm col-md-1 col-lg-1 mt-3"
                *ngIf="showAddBtn"
              >
                <button
                  type="button"
                  class="btn btn-addBdr btn-shadow font-weight-bold mt-5 text-center w-100"
                  (click)="addBordereau()"
                >
                  +
                </button>
              </div>
            </div>
            <div class="card card-custom gutter-b">
              <div
                class="
                  card-header card-header-style
                  d-flex
                  align-cs-center
                  justify-content-between
                  border-0
                  py-5
                "
              >
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-between
                    card-spacer
                    flex-grow-1
                  "
                >
                  <div class="d-flex flex-column mr-2">
                    <p
                      class="
                        text-dark-75 text-hover-primary
                        font-weight-bolder font-size-h5
                      "
                    >
                      Matériaux
                    </p>
                    <span class="text-muted font-weight-bold"
                      >Bordereaux choisis</span
                    >
                  </div>
                  <span class="symbol symbol-light-success symbol-45">
                    <span
                      class="symbol-label font-weight-bolder font-size-h6"
                      >{{ ligne }}</span
                    >
                  </span>
                </div>
              </div>
              <div class="card-body pt-0 pb-3" *ngIf="tab && tab.length > 0">
                <div class="tab-content">
                  <!--debut: bordereau table-->
                  <div class="table-responsive">
                    <table
                      class="
                        table
                        table-head-custom
                        table-head-bg
                        table-borderless
                        table-vertical-center
                      "
                    >
                      <thead>
                        <tr class="text-center text-uppercase">
                          <th style="min-width: 100px">Catégorie</th>
                          <th style="min-width: 100px">Chapitre</th>
                          <th style="min-width: 100px">libelle</th>
                          <th style="min-width: 100px">Référence</th>
                          <th style="min-width: 100px">Quantité</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="text-center"
                          *ngFor="let el of tab; let i = index"
                        >
                          <td *ngIf="tab[i]">{{ el.bordereau }}</td>
                          <td *ngIf="tab[i]">{{ el.chapitre }}</td>
                          <td *ngIf="tab[i]">{{ el.libelle }}</td>
                          <td *ngIf="tab[i]">{{ el.reference }}</td>
                          <td *ngIf="tab[i]">
                            <input
                              class="form-control"
                              type="number"
                              id="example-number-input"
                              value="{{ el.quantite }}"
                              (keyup)="changeQt($event.target.value, i)"
                            />
                          </td>
                          <td *ngIf="tab[i]">
                            <button
                              type="button"
                              class="
                                btn btn-light btn-shadow
                                font-weight-bold
                                mr-2
                              "
                              (click)="removeBordereau(i)"
                            >
                              Supprimer
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--fin : bordereau table-->
                </div>
              </div>
            </div>
          </div>
          <ng-template #brxChoisisSection>
            <div class="card-body pt-0 pb-3">
              <div
                class="
                  d-flex
                  align-items-center
                  justify-content-between
                  card-spacer
                  flex-grow-1
                "
              >
                <div class="d-flex flex-column mr-2">
                  <p
                    class="
                      text-dark-75 text-hover-primary
                      font-weight-bolder font-size-h5
                    "
                  >
                    Matériaux
                  </p>
                  <span class="text-muted font-weight-bold"
                    >Bordereaux choisis</span
                  >
                </div>
                <span class="symbol symbol-light-success symbol-45">
                  <span class="symbol-label font-weight-bolder font-size-h6">{{
                    brxChoisis.length
                  }}</span>
                </span>
              </div>
              <div class="tab-content">
                <!--debut: bordereau table-->
                <div class="table-responsive">
                  <table
                    class="
                      table
                      table-head-custom
                      table-head-bg
                      table-borderless
                      table-vertical-center
                    "
                  >
                    <thead>
                      <tr class="text-center text-uppercase">
                        <th style="min-width: 100px">Catégorie</th>
                        <th style="min-width: 100px">Chapitre</th>
                        <th style="min-width: 100px">libelle</th>
                        <th style="min-width: 100px">Référence</th>
                        <th style="min-width: 100px">Quantité</th>
                        <!-- <th></th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="text-center"
                        *ngFor="let el of brxChoisis; let i = index"
                      >
                        <td>{{ el.bordereau }}</td>
                        <td>{{ el.chapitre }}</td>
                        <td>{{ el.libelle }}</td>
                        <td>{{ el.reference }}</td>
                        <td>
                          {{ el.quantite }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--fin : bordereau table-->
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>
        <!-- fin: description quantitative -->
        <!-- debut: motif -->
      </div>
      <mat-expansion-panel
        *ngIf="isMettreCanceled"
        [expanded]="step === 6"
        (opened)="setStep(6)"
        (opened)="panelOpenState7 = true"
        (closed)="panelOpenState7 = false"
      >
        <mat-expansion-panel-header
          [ngStyle]="{
            'background-color': panelOpenState6 == false ? '#99BC47' : '#203A73'
          }"
        >
          <mat-panel-title>Motif</mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- debut form -->
        <div class="card-body row">
          <div
            class="col-12 alert alert-custom alert-default mb-5"
            role="alert"
          >
            <!-- alert icon -->
            <div class="alert-icon">
              <i class="flaticon-warning text-primary"></i>
            </div>
            <!-- alert icon -->
            <div class="alert-text text-center">
              Décrivez ici le motif de l'annulation du métré
            </div>
          </div>
          <div class="form-group col-sm">
            <label for="exampleTextarea"></label>
            <textarea
              class="form-control"
              rows="5"
              formControlName="motifAbandon"
              autofocus="true"
            ></textarea>
            <mat-error
              class="mt-4"
              *ngIf="
                interventionForm.controls.motifAbandon.dirty &&
                interventionForm.controls.motifAbandon.errors &&
                interventionForm.controls.motifAbandon.errors.required
              "
              >*Veuillez donner le motif de votre abandon</mat-error
            >
          </div>
          <div></div>
        </div>
        <mat-action-row>
          <button
            type="button"
            class="btn btn-outline-success"
            (click)="sendMotif()"
          >
            Valider
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- fin: motif -->
    </form>
    <!-- fin : form -->
  </mat-accordion>

  <mat-accordion
    class="example-headers-align"
    *ngIf="bi && bi.statut == 'abandonné'"
  >
    <button
      *ngIf="!isMettreCanceled"
      type="button"
      class="btn btn-light-primary px-6 font-weight-bold"
      routerLink="/listeToConsulte"
    >
      Retour à la liste
    </button>
    <mat-expansion-panel
      expanded="true"
      (opened)="panelOpenState6 = true"
      (closed)="panelOpenState6 = false"
    >
      <mat-expansion-panel-header
        [ngStyle]="{
          'background-color': panelOpenState6 == false ? '#99BC47' : '#99BC47'
        }"
      >
        <mat-panel-title>Motif</mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- debut form -->
      <div class="card-body">
        <!-- <div class=""> -->
        <div class="form-group row">
          <label for="exampleTextarea"></label>
          <textarea
            class="form-control"
            rows="5"
            [(ngModel)]="bi.motifAbandon"
            readonly
          ></textarea>
          <mat-error
            class="mt-4"
            *ngIf="
              interventionForm.controls.motifAbandon.dirty &&
              interventionForm.controls.motifAbandon.errors &&
              interventionForm.controls.motifAbandon.errors.required
            "
            >*Veuillez donner le motif de votre abandon</mat-error
          >
          </div>
        <!-- <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Date Limite</label>
					<input
          class="form-control form-control-solid col-4"
          type="date"
          value="{{bi.dateFin}}"
          id="example-date-input"
        />
        </div> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
