.expension_open_header{
    background: #203A73;
}
.expension_close_header{
    background: #99BC47;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.btn-retour{
    background: #203A73;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-headers-align{
    width: 90%;
}
.btn-suiv{
    background: #99BC47;
}
.card-custom{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-prec{
    background: #203A73;
}
.icon-panel{
    color: #99BC47;
}
.primaire{
    color:#99BC47;
}
mat-expansion-panel:hover > mat-expansion-panel-header{
    border: 1px solid #203A73;
}

::ng-deep mat-expansion-panel-header > .mat-expansion-indicator:after {
    color: white;
}
mat-expansion-panel{
    margin-bottom: 10px;
}

mat-accordion{
    margin: 3em 0 3em  0;
}

ngx-dropzone{
    overflow: hidden;
}
mat-panel-title{
    color: #FFFFFF;
}
.plan-preview{
    width: 75%;
    height: 20em;
    margin: auto;
}
.btn-pm{
    background: #99BC47;
    color: #FFFFFF;
    width: 80%;
}
.symbol-length{
    background-color: #c2db86;
}
.customContainerAlert{
    background-color: red;
    color: red;
}
.btn-addBdr{
    background: #99BC47;
    color: #FFFFFF;
}
.header-motif{
    background: #99BC47;
}

.header-motif :hover{
    background: #99BC47;
}
