.card-header-style{
    background-color: #203A73;
}
.tr-style:hover{
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.06);
    background-color: #99BC47;
    cursor: pointer;
    color: #FFF
    // span{
    //     color: #FFF;
    // }
    // a{
    //     color: #FFF;
    // }
}
