<div class="card card-custom gutter-b">
	<!--begin::Header-->
	<div class="card-header card-header-style d-flex align-cs-center justify-content-between border-0 py-5">
	  <h3 class="card-title align-cs-start flex-column">
		  <span class="card-label">
        Liste des demandes
      </span>
	  </h3>
	</div>
	<!--end::Header-->
	<ng-container>
	  <!-- LOADED -->
	  <ng-container >
      <!-- DATA EXISTS -->
      <ng-container>
        <!-- begin filtre et recherche  -->
        <div class="card-body">
          <div class="row align-cs-center">
            <div class="col-lg-9 col-xl-8">
              <div class="row align-cs-center">
                <div class="col-md-4 my-2 my-md-0">
                  <div class="input-icon">
                    <input type="text" class="form-control form-control-solid" placeholder="Taper le nom ..." id="kt_datatable_search_query" name="searchInput" [(ngModel)]="searchInput"/>
                    <span>
                      <i class="flaticon2-search-1 text-muted"></i>
                    </span>
                  </div>
                </div>
                <div class="col-md-4 my-2 my-md-0">
                  <!-- <label for="example-date-input" class="col-4 col-form-label">Date</label> -->
                  <a class="btn btn-light-primary px-6 font-weight-bold">Rechercher</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-2 my-md-0">
              <!-- id="kt_datatable_search_status" -->
              <select class="form-control form-control-solid" name="statutInput" [(ngModel)]="statutInput" placeholder="choisissez un statut">
                <option value="en cours" selected>En Cours</option>
                <option value="envoyé">Envoyé</option>
              </select>
            </div>
          </div>
        </div>
        <!-- fin filtre et recherche -->
        <!--begin::Body-->
        <div class="card-body pt-0 pb-3">
          <div class="tab-content">
            <!--begin::Table-->
            <div class="table-responsive">
              <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                <thead>
                  <tr class="text-center text-uppercase">
                    <th style="min-width: 100px">Référence BI</th>
                    <th style="min-width: 100px">Prénom Client</th>
                    <th style="min-width: 100px">Nom Client</th>
                    <th style="min-width: 100px">Zone</th>
                    <th style="min-width: 100px">Statut</th>
                    <!-- <th style="min-width: 130px">Etat</th> -->
                    <!-- <th style="min-width: 80px">Actions</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of liste | search: searchInput | statutInput: statutInput" class=" text-center  tr-style" [routerLink]="[c.id]">
                    <td class="pl-0 py-8">
                      <span class="text-dark-75 d-block font-size-lg">
                        {{ c.referenceBi }}
                      </span>
                    </td>
                    <td>
                    <a class="text-dark-75 text-hover-primary font-size-lg">
                      {{c.prenomClient}}
                    </a>
                    </td>
                    <td>
                      <span class="text-dark-75 d-block font-size-lg">
                        {{ c.nomClient }}
                      </span>
                    </td>
                    <td>
                      <span class="text-primary mb-0">
                        <!-- {{ c.dateDebut | date }} -->
                        {{ c.adresse1 }}
                      </span>
                    </td>
                    <td>
                      <ng-container>
                        <span class="label label-lg label-light-primary label-inline" *ngIf="c.statut=='en cours'">
                          {{ c.statut }}
                        </span>
                        <span class="label label-lg label-light-success label-inline text-dark" *ngIf="c.statut=='envoyé'">
                          {{ c.statut }}
                        </span>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end::Table-->
          </div>
        </div>
        <!--end::Body-->
      </ng-container>
      <!-- END DATA EXISTS -->
	  </ng-container>
	</ng-container>
</div>
<!--end::Advance Table Widget 4-->
  