<div cdkDropListGroup>
    <div class="row principal-row">
      <!-- ALL BI ABANDONNED - ALL BI ABANDONNED - ALL BI ABANDONNED - ALL BI ABANDONNED - ALL BI ABANDONNED -->
      <!-- <div class="col-md-3 col-sm-3 col-5 tache-col">

        <div class="row row1 mt-2">
          <div class="col mt-2 mb-2">
            <div>
            <h4 class="h-tache-style text-center font-weight-bold">Bons d'intervention abandonnés</h4>
                <div
                cdkDropList
                [cdkDropListData]="allBiAbandonned"
                class="example-list"
                (cdkDropListDropped)="drop($event,0,0)">
                  <ng-container *ngFor="let item of allBiAbandonned">
                    <div class="example-box example-box-tache mb-2 p-1" cdkDrag>
                      <p>
                        <a class="btn btn-light p-1">{{item["element"].referenceBi}}</a><br>
                        <a class="btn btn-date-limite-zone mb-1 p-1">{{item["element"].dateFin}}<br>
                          {{item["element"].adresse1}}</a><br>
                        <a class="btn btn-light-primary mb-1 p-1">
                          {{item["element"].statut}}
                        </a><br>
                      </p>
                    </div>
                  </ng-container>
                </div>
              </div>
          </div>
        </div>
        
      </div> -->
      <!-- FIN ALL BI ABANDONNED -->

      <!-- METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB - METREUR'S TAB -->
      <div class="col mt-2">

        <div class="row">
            <ng-container *ngFor="let elemnt of metreur">
                <div class="col-md-4 col-sm-4 mt-2 mb-2">
                    <div class="">
                      <h4 class="h-style text-center">{{elemnt.firstName}} {{elemnt.lastName}} - {{elemnt.attributes["zone"]}}</h4>
                      <div
                        cdkDropList
                        [cdkDropListData]="tab['cdk-drop-list-'+elemnt.attributes['matricule']]"
                        class="example-list"
                        (cdkDropListDropped)="drop($event,elemnt,'cdk-drop-list-'+elemnt.attributes['matricule'])">
                        <ng-container *ngFor="let tache of tab['cdk-drop-list-'+elemnt.attributes['matricule']]">
                            <!-- <ng-container *ngIf="tache['element'].matricule==elemnt.attributes['matricule']"> -->
                                <div class="example-box example-box-day mb-2 p-1" cdkDrag>
                                    <p>
                                        <a class="btn btn-light p-1">{{tache["element"].referenceBi}}</a><br>
                                        <a class="btn btn-date-limite-zone mb-1 p-1">
                                          {{tache["element"].dateFin}}
                                          <br>
                                          {{tache["element"].adresse1}}
                                        </a>
                                    </p>
                                </div>
                            <!-- </ng-container> -->
                        </ng-container>
                      </div>
                    </div>
                </div>
            </ng-container>
        </div>

      </div>
      <!-- FIN WEEK -->
    </div>
  </div>
