  <div cdkDropListGroup>
    <div class="row principal-row">
      <!-- ALL TACHES - ALL TACHES - ALL TACHES - ALL TACHES - ALL TACHES - ALL TACHES - ALL TACHES -->
      <div class="col-md-3 col-sm-3 col-5 tache-col">
        <div class="row row1 mt-15">
          <div class="col mt-2 mb-2">
            <h4 class="h-tache-style text-center">TÂCHES</h4>
              <div
                cdkDropList
                [cdkDropListData]="allTaches"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <ng-container  *ngFor="let item of allTaches">
                  <div class="example-box example-box-tache mb-2 p-1" cdkDrag>
                    <p>
                      <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                      <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                        {{item.adresse1}}</a><br>
                      <a class="btn btn-date-plannifed-limite-zone mb-1 p-1" *ngIf="item.datePlanifie">Date plannifiée {{item.datePlanifie}}</a>
                    </p>
                  </div>
                </ng-container>
              </div>
          </div>
        </div>
      </div>
      <!-- FIN ALL TACHES -->

      <!-- WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK - WEEK -->
      <div class="col mt-2">
        <!-- BOUTTON CHANGEMENT DE SEMAINE -->
        <div class="row pl-4">
          <button class="btn btn-outline-primary position-relative mr-auto" (click)="nextAndPreviousWeek()" *ngIf="nextAndPrevious==7">Semaine suivante</button>
          <button class="btn btn-outline-primary position-relative mr-auto" (click)="nextAndPreviousWeek()" *ngIf="nextAndPrevious==14">Semaine précédente</button>
        </div>
        <!-- FIN BOUTTON -->

        <!-- ACTUELLE WEEK - ACTUELLE WEEK - ACTUELLE WEEK - ACTUELLE WEEK - ACTUELLE WEEK - ACTUELLE WEEK - ACTUELLE WEEK -->
        <div class="row" *ngIf="nextAndPrevious==7">
          <div class="col-md-4 col-sm-4 mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{currentLundi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentLundi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of tacheForCurrentLundi">
                  <div class="example-box example-box-day mb-2 p-1" cdkDrag>
                    <p>
                      <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                      <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                        {{item.adresse1}}</a><br>
                    </p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{currentMardi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentMardi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForCurrentMardi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{currentMercredi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentMercredi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForCurrentMercredi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{currentJeudi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentJeudi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForCurrentJeudi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{currentVendredi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentVendredi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForCurrentVendredi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{currentSamedi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentSamedi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForCurrentSamedi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 mt-2">
            <div class="">
              <h4 class="h-style text-center">{{currentDimanche | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForCurrentDimanche"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForCurrentDimanche" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN ACTUELLE WEEK -->

        <!-- NEXT WEEK - NEXT WEEK - NEXT WEEK - NEXT WEEK - NEXT WEEK - NEXT WEEK - NEXT WEEK - NEXT WEEK - NEXT WEEK -->
        <div class="row" *ngIf="nextAndPrevious==14">
          <div class="col-md-4 col-sm-4 mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{nextLundi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextLundi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of tacheForNextLundi">
                  <div class="example-box example-box-day mb-2 p-1" cdkDrag>
                    <p>
                      <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                      <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                        {{item.adresse1}}</a><br>
                    </p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{nextMardi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextMardi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForNextMardi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{nextMercredi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextMercredi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForNextMercredi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{nextJeudi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextJeudi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForNextJeudi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{nextVendredi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextVendredi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForNextVendredi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4  mt-2 mb-2">
            <div class="">
              <h4 class="h-style text-center">{{nextSamedi | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextSamedi"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForNextSamedi" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 mt-2">
            <div class="">
              <h4 class="h-style text-center">{{nextDimanche | date:'EEEE, d, MMMM'}}</h4>
              <div
                cdkDropList
                [cdkDropListData]="tacheForNextDimanche"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box example-box-day mb-2 p-1" *ngFor="let item of tacheForNextDimanche" cdkDrag>
                  <p>
                    <a class="btn btn-light p-1">{{item.referenceBi}}</a><br>
                    <a class="btn btn-date-limite-zone mb-1 p-1">{{item.dateFin}}<br>
                      {{item.adresse1}}</a><br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- FIN NEXT WEEK -->

      </div>
      <!-- FIN WEEK -->
    </div>
  </div>
