.principal-row{
    background: #FFF;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    min-height: 70vh;
    // border: 1px solid #203A73;
    border-radius: 4px;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .row1 {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }


  .h-tache-style {
    background-color: #99BC47;
    margin: 0;
    color: white;
    font-size: 12px;
    border-radius: 4px 4px 0px 0px;
}

  .h-style {
      background-color: #203A73;
      margin: 0;
      color: white;
      border-radius: 4px;
  }

//   .tache-col{
//       height: 100%;
//       position: relative;
//       display: flex;
//       margin-top: auto;
//       margin-bottom: auto;
//   }

  .example-box-tache {
    filter: drop-shadow(0px 4px 4px #99BC47);
    font-size: 12px;

    .btn-date-limite-zone {
      background: #bacefa;
      color: #000;
    }
    .btn-date-plannifed-limite-zone{
      background: #d7eba8;
      color: #000;
    }

  }

  .example-box-day {
    filter: drop-shadow(0px 4px 4px #203A73);

    .btn-date-limite-zone {
      background: #bacefa;
      color: #000;
    }
    .btn-date-plannifed-limite-zone{
      background: #d7eba8;
      color: #000;
    }

  }

  .btn-valider {
    background-color: #99BC47;
  }
