<div class="card card-custom gutter-b">
	<!--begin::Header-->
	<div class="card-header card-header-style d-flex align-cs-center justify-content-between border-0 py-5">
	  <h3 class="card-title align-cs-start flex-column">
		  <span class="card-label">
        Liste des métreurs
      </span>
	  </h3>
	</div>
	<!--end::Header-->
	<ng-container>
	  <!-- LOADED -->
	  <ng-container >
      <!-- DATA EXISTS -->
      <ng-container>
        <!-- begin filtre et recherche  -->
        <div class="card-body">
          <div class="row align-cs-center">
            <div class="col-lg-9 col-xl-8">
              <div class="row align-cs-center">
                <div class="col-md-4 my-2 my-md-0">
                  <div class="input-icon">
                    <!-- <input type="text" class="form-control form-control-solid" placeholder="Taper le nom ..." id="kt_datatable_search_query" name="searchMetreurInput" [(ngModel)]="searchMetreurInput"/>
                    <span>
                      <i class="flaticon2-search-1 text-muted"></i>
                    </span> -->
                  </div>
                </div>
                <div class="col-md-4 my-2 my-md-0">
                  <!-- <label for="example-date-input" class="col-4 col-form-label">Date</label> -->
                  <!-- <a class="btn btn-light-primary px-6 font-weight-bold">Rechercher</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fin filtre et recherche -->
        <!--begin::Body-->
        <div class="card-body pt-0 pb-3">
          <div class="tab-content">
            <!--begin::Table-->
            <div class="table-responsive">
              <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                <thead>
                  <tr class="text-center text-uppercase">
                    <th style="min-width: 100px">Matricule</th>
                    <th style="min-width: 100px">Prénom Agent</th>
                    <th style="min-width: 100px">Nom Agent</th>
                    <th style="min-width: 100px">Zone</th>
                    <!-- <th style="min-width: 130px">Etat</th> -->
                    <!-- <th style="min-width: 80px">Actions</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of metreur | metreur: searchMetreurInput" class=" text-center  tr-style">
                    <td class="pl-0 py-8">
                      <span class="text-dark-75 d-block font-size-lg">
                        {{ c.attributes["matricule"] }}
                      </span>
                    </td>
                    <td>
                    <a class="text-dark-75 text-hover-primary font-size-lg">
                      {{c.firstName}}
                    </a>
                    </td>
                    <td>
                      <span class="text-dark-75 d-block font-size-lg">
                        {{ c.lastName }}
                      </span>
                    </td>
                    <td class="pl-0 py-8">
                        <span class="text-dark-75 d-block font-size-lg">
                          {{ c.attributes["zone"] }}
                        </span>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end::Table-->
          </div>
        </div>
        <!--end::Body-->
      </ng-container>
      <!-- END DATA EXISTS -->
	  </ng-container>
	</ng-container>
</div>
<!--end::Advance Table Widget 4-->
  